/* =============================================================================
 * .site-footer
 * ========================================================================== */
.site-footer {
  @include min-screen() {
    padding-top: 30px;
    padding-bottom: 30px;

    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &__copyright {
      margin-top: 0;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  position: relative;
  z-index: 2;
  padding: 20px $CONTENT_PADDING;
  text-align: center;
  background: #feec00;
  transform: translateZ(0);

  a {
    color: #006497;
    text-decoration: none;
  }

  &__copyright {
    margin: 10px 0 0;
  }

  &__inner {
    @extend %str-inner;
  }

  [data-dark-mode="true"] & {
    color: #333;
    background-color: #e6db74;
  }
}
