%inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =============================================================================
 * .site-header
 * ========================================================================== */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 0 0 $CONTENT_PADDING;
  background: #feec00;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  transition: .2s background-color ease-out;

  &__logo {
    display: block;
    width: 160px;
  }

  &__sitename {
    padding-top: 2px;
  }

  &__inner {
    @extend %str-inner;
    @extend %inner;

    html:not([data-script="enabled"]) & {
      @include min-screen() {
        display: flex;
      }

      display: block;
    }
  }

  [data-is-dark-mode="true"] & {
    color: #333;
    background-color: #e6db74;
  }
}

/* =============================================================================
 * .site-header-top
 * ========================================================================== */
.site-header-top {
  @include toggleMode;
  @include min-screen() {
    &__sitename {
      padding-bottom: 2px;
    }

    &__secondary {
      padding-top: 5px;
    }
  }

  display: contents;

  &__logo {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  &__link {
    display: block;
    max-width: 400px;
    color: inherit;
    text-decoration: none;
  }

  &__sitename {
    padding-top: 2px;
  }

  &__toggleMode {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__primary,
  &__secondary {
    position: sticky;
    top: 0;
  }

  &__primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 33px $CONTENT_PADDING 0;
    background: #feec00;
    transition: .2s background-color ease-out;

    @media screen and (max-height: 660px) and (orientation: landscape) {
      position: static;
    }

    [data-is-dark-mode="true"] & {
      color: #333;
      background-color: #e6db74;
    }
  }

  &__inner {
    @extend %inner;
    @extend %str-inner;
  }

  &__secondary {
    z-index: 2;
    padding: 0 0 0 $CONTENT_PADDING;
    background: #feec00;
    border-bottom: 1px solid #eee;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .2);
    transition: .2s background-color ease-out;

    .site-header-top__logo {
      width: 160px;
      cursor: pointer;
    }

    [data-is-dark-mode="true"] & {
      color: #333;
      background-color: #e6db74;
    }
  }
}
