/* =============================================================================
 * .mod-list
 * ========================================================================== */
.mod-list {
  &__txt {
    position: relative;
    display: block;
    padding: 0 0 0 1.25em;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: .5em;
      height: .5em;
      margin: auto 0;
      content: "";
      background: #000;
      transition: .2s background-color ease-out;

      [data-dark-mode="true"] & {
        background: #ccc;
      }
    }
  }
}

/* =============================================================================
 * .mod-list-profile
 * ========================================================================== */
.mod-list-profile {
  width: 80%;
  min-width: 290px;
  max-width: 640px;
  margin: 60px auto;

  &__title {
    padding: 2px 0 1px 10px;
    font-size: 18px;
    background: #feec00;

    &::before {
      content: "【";
    }

    &::after {
      content: "】";
    }

    [data-dark-mode="true"] & {
      color: #333;
      background: #e6db74;
    }
  }

  &__data {
    padding: .8em 0;
    white-space: pre-wrap;
  }
}
