[class^="mod-"] {
  line-height: 2;

  strong {
    color: #c10000;
  }

  [data-dark-mode="true"] & {
    strong {
      color: #ff447f;
    }
  }
}

@import "./txt";
@import "./hdg";
@import "./link";
@import "./list";
@import "./box";
@import "./adjust";
