/* =============================================================================
 * .nav-sns
 * ========================================================================== */
.nav-global {
  @include min-screen() {
    display: block;
    height: auto;

    &__txt {
      display: block;
      padding: 0 6px;
      text-align: center;

      &:first-child {
        font-size: 10px;
      }

      &:last-child {
        font-size: 18px;
      }
    }

    &__link {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 0 0 22px;
      color: inherit !important; // stylelint-disable-line
      border-bottom: 0;

      &::before {
        left: 0;
      }

      &:focus,
      &:hover {
        .nav-global__txt:last-child {
          text-decoration: underline;
        }
      }
    }

    &__item {
      padding: 10px 0 0 20px;
    }

    &__list {
      display: flex;
      align-items: center;
      margin: 0 0 20px -20px;
    }

    &__dropdown {
      position: static;
      display: flex;
      flex-direction: column-reverse;
      width: auto;
      background: transparent !important; // stylelint-disable-line
      border: 0;
      box-shadow: none;
    }

    &__inner {
      display: flex;
      justify-content: flex-end;
    }

    .func-btn {
      display: none;
    }
  }

  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 $CONTENT_PADDING;
  background: #feec00;
  transition: .2s background-color ease-out;

  &__txt {
    &:last-child {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px $CONTENT_PADDING 20px #{$CONTENT_PADDING + 30};
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #999;
    transition: .2s background-color ease-out;

    &::before {
      position: absolute;
      top: 0;
      bottom: 1px;
      left: $CONTENT_PADDING;
      display: block;
      width: 16px;
      height: 16px;
      margin: auto 0;
      content: "";
      background: url("/asset/image/nav/global-icn.png") no-repeat;
      image-rendering: pixelated;
    }

    [data-is-dark-mode="true"] & {
      color: #ccc;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100vw;
    overflow: hidden;
    text-align: right;
    background: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .2);
    transition: .3s height ease-out, .2s background-color ease-out;

    &[hidden] {
      height: 0;
      visibility: hidden;
      transition: .3s height ease-out, 0s visibility .3s ease-out, .2s background-color ease-out;
    }

    [data-is-dark-mode="true"] & {
      background-color: #272822;
    }
  }

  &__inner {
    @extend %str-inner;
  }

  .func-btn {
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 1;
    width: 88px;
    height: 61px;
    background: transparent no-repeat;
    background-image: url("/asset/image/nav/global-btn.png"), url("/asset/image/nav/global-btn02.png");
    background-position: 0 0, 0 61px;
    background-size: 88px 61px, 88px 61px;

    &__txt {
      @extend %invisible-content;
    }

    &.is-open {
      background-position: 0 -61px, 0 0;
    }
  }

  [data-is-dark-mode="true"] & {
    color: #333;
    background-color: #e6db74;
  }
}

/* =============================================================================
 * .nav-sns
 * ========================================================================== */
.nav-sns {
  @include min-screen() {
    &__link {
      transition: .2s transform ease-out;

      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }

  position: relative;
  max-width: 480px;
  padding: 30px 0 22px;
  margin: 0 auto;

  &__img {
    width: 25px;
    height: 25px;
  }

  &__icn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 12px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100% 0 0;
    pointer-events: auto;
    background: #fff;
    border-radius: 50%;
    transition: .2s background-color ease-out;

    &::before,
    &::after {
      position: absolute;
      right: 0;
      left: 0;
      display: block;
      width: 0;
      margin: auto;
      content: "";
      border: solid transparent;
    }

    &::before {
      top: calc(100% - 1px);
      z-index: 0;
      border-width: 10px 6px 0;
      border-top-color: #fff;
      transition: .2s border-top-color ease-out;

      [data-is-dark-mode="true"] & {
        border-top-color: #eee;
      }
    }

    &::after {
      top: 100%;
      z-index: -1;
      border-width: 12px 8px 0;
      border-top-color: #000;
      opacity: 0;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px #000;

      &::after {
        opacity: 1;
      }
    }

    [data-is-dark-mode="true"] & {
      background-color: #eee;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 80px;
    height: 100%;
    margin: auto;
    pointer-events: none;
    opacity: 0;

    $max: 6;
    $diff: -30;
    @for $i from 1 to $max + 1 {
      @keyframes navSns#{$i} {
        0% {
          opacity: 0;
          transform: translateY(50%);
        }

        100% {
          opacity: 1;
          transform: rotate(#{360 / $max * $i + $diff}deg);
        }
      }

      @keyframes navSns#{$i}Inner {
        0% {
          transform: rotate(#{-360 / $max * $i - 360}deg);
        }

        100% {
          transform: rotate(#{-360 / $max * $i - $diff}deg);
        }
      }

      &:nth-child(#{$i}) {
        animation: navSns#{$i} .7s ease-out .2s forwards;

        .nav-sns__icn {
          animation: navSns#{$i}Inner 1s ease-out .2s forwards;
        }
      }
    }
  }

  &__list {
    position: relative;
    padding: 100% 0 0;
  }

  &__kp,
  &__symbol {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &__kp {
    @keyframes kp {
      0% {
        transform: none;
      }

      50% {
        transform: translateY(-10px);
      }

      100% {
        transform: none;
      }
    }

    display: block;
    width: 30%;
    height: auto;
    animation: kp .2s ease-out .25s forwards;
  }
}
