/* =============================================================================
 * .str-pageTitle
 * ========================================================================== */
.str-pageTitle {
  @include min-screen() {
    min-height: 200px;
    font-size: 22px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  padding: 20px $CONTENT_PADDING;
  margin: 0 0 30px;
  font-size: 18px;
  background: #f1f1f1 center center / cover no-repeat;

  &__main,
  &__sub {
    display: block;
    text-align: center;
  }

  &__sub {
    font-size: 50%;
    font-weight: normal;
  }

  &__inner {
    @extend %str-inner;

    display: flex;
  }

  [data-dark-mode="true"] & {
    color: #ccc;
    background-color: #2b2c25;
  }
}

/* =============================================================================
 * .str-outer
 * ========================================================================== */
.str-outer {
  padding: 0 $CONTENT_PADDING;
}

/* =============================================================================
 * .str-inner
 * ========================================================================== */
.str-inner {
  @extend %str-inner;

  &:last-child {
    margin-bottom: 100px;
  }
}

/* =============================================================================
 * .str-article
 * ========================================================================== */
%str-article__LinkPseudo {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  height: 0;
  margin: auto 0;
  content: "";
  border: solid transparent;
}

.str-article {
  @include min-screen() {
    &__pager {
      margin: 0 0 100px;

      &Link {
        display: inline-block;
        padding: 0;
        text-decoration: underline;
        background: transparent;
        box-shadow: none;

        [data-dark-mode="true"] & {
          color: inherit;
        }
      }

      &Prev,
      &Next {
        flex-basis: 50%;
        min-width: 50%;;
        max-width: 50%;
        padding: 0 0 0 10px;
      }

      &Prev {
        text-align: left;

        .str-article__pagerLink {
          padding-left: 13px;

          &::before {
            left: 0;

            [data-dark-mode="true"] & {
              border-right-color: #ccc;
            }
          }
        }
      }

      &Next {
        text-align: right;

        .str-article__pagerLink {
          padding-right: 13px;

          &::after {
            right: 0;

            [data-dark-mode="true"] & {
              border-left-color: #ccc;
            }
          }
        }

        &:first-child {
          min-width: 100%;
          max-width: 100%;
        }
      }

      &Inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 -10px;
      }
    }
  }

  max-width: 40em;
  margin: 0 auto;

  &__header,
  &__content {
    font-weight: 400;
    line-height: 2;
  }

  &__title {
    margin: 2em 0 0;
    font-size: 18px;
    line-height: 1.6;
  }

  &__date {
    margin: 0 0 9px;
    font-size: 12px;
    text-align: right;
  }

  &__tag {
    margin: 1em 0;

    &Txt {
      display: block;
      padding: 0 7px;
      font-size: 11px;
      border: 1px solid;
      border-radius: 11px;
    }

    &Item {
      padding: 7px 0 0 8px;
    }

    &List {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: -7px 0 0 -8px;
    }
  }

  &__toc {
    position: relative;
    max-width: 290px;
    max-height: 70vh;
    padding: 29px 10px 12px 4px;
    margin: 1em 0;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 3px;

    [data-dark-mode="true"] & {
      color: #333;
      background: #ccc;
    }

    &Hdg {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1px 10px;
      font-size: 10PX;
      color: #fff;
      background: #000;
    }

    &Link {
      [data-dark-mode="true"] & {
        color: inherit;
      }
    }

    &Item {
      counter-increment: toc;

      &::before {
        content: counter(toc) ". ";
      }
    }

    &List {
      padding-left: 10px;
      counter-reset: toc;
    }
  }

  &__content {
    /* stylelint-disable */

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 4em 0 2em;
    }

    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-top: -1.5em;
    }

    h2 {
      padding: 0 0 0 10px;
      font-size: 26px;
      background: #feec00;
      border-radius: 3px;

      [data-dark-mode="true"] & {
        color: #333;
        background: #e6db74;
      }
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 22px;
    }

    h5 {
      font-size: 20px;
    }

    h6 {
      font-size: 18px;
    }

    p {
      margin: 2em 0;
    }

    /* stylelint-enable */
  }

  &__pager {
    margin: 0 0 100px;


    &Link {
      position: relative;
      display: block;
      padding: 10px 20px;
      color: inherit;
      text-decoration: none;
      background: linear-gradient(145deg, #fff, #e6e6e6);
      border-radius: 8px;

      [data-dark-mode="true"] & {
        color: #333;
      }
    }

    &Prev,
    &Next {
      margin: 1em 0;
      text-align: center;
    }

    &Prev {
      .str-article__pagerLink::before {
        @extend %str-article__LinkPseudo;

        left: 10px;
        border-width: .25em .25em .25em 0;
        border-right-color: #000;
      }
    }

    &Next {
      .str-article__pagerLink::after {
        @extend %str-article__LinkPseudo;

        right: 10px;
        border-width: .25em 0 .25em .25em;
        border-left-color: #000;
      }
    }
  }
}
