/* =============================================================================
 * defines
 * ========================================================================== */
$CONTENT_PADDING: 15px;
$CONTENT_MAX_WIDTH: 1280px;
$BREAK_POINT: 768px;

%str-inner {
  max-width: $CONTENT_MAX_WIDTH;
  margin: 0 auto;
}

%invisible-content {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
}

@mixin min-screen($minWidth: $BREAK_POINT) {
  @media screen and (min-width: $minWidth) {
    @content;
  }
}

@import "./element";
