/* =============================================================================
 * defines
 * ========================================================================== */
$CONTENT_PADDING: 15px;
$CONTENT_MAX_WIDTH: 1280px;
$BREAK_POINT: 768px;

%str-inner {
  max-width: $CONTENT_MAX_WIDTH;
  margin: 0 auto;
}

%invisible-content {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
}

@mixin min-screen($minWidth: $BREAK_POINT) {
  @media screen and (min-width: $minWidth) {
    @content;
  }
}

@mixin toggleMode {
  &__toggleMode {
    &Txt {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    &Label {
      &::before,
      &::after {
        position: absolute;
        display: block;
      }

      &::before {
        top: -2px;
        left: -1px;
        z-index: 2;
        width: 26px;
        height: 26px;
        content: "";
        background: #fff;
        border: 1px solid #000;
        border-radius: 50%;
        transition: .2s transform ease-out;
      }

      &::after {
        top: 0;
        right: 1px;
        z-index: 1;
        font-size: 15px;
        content: "💡";
      }

      position: relative;
      display: block;
      width: 48px;
      height: 24px;
      background: #333;
      border: 1px solid #000;
      border-radius: 24px;
    }

    &Input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      &:checked + .site-header-top__toggleModeLabel::before,
      &:checked + .nav-global__toggleModeLabel::before {
        transform: translateX(22px);
      }
    }

    &Inner {
      position: relative;
      display: block;
      padding: 10px $CONTENT_PADDING 10px 10px;
      overflow: hidden;
    }
  }
}

@import "./element";
