/* =============================================================================
 * Default styles
 * ========================================================================== */
*,
::before,
::after {
  box-sizing: border-box;
}

[data-using-keyboard="false"] :focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: YakuHanJP, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background: #feec00;
  transition: .2s background-color ease-out, .2s color ease-out;

  [data-is-dark-mode="true"] & {
    color: #ccc;
    background-color: #e6db74;
  }
}

li {
  list-style: none;
}

button {
  border: 0;
}

a {
  color: #007dbc;
  transition: .2s color ease-out;

  [data-is-dark-mode="true"] & {
    color: #5393ca;
  }
}
